<div class="container">
  <form
    class="register"
    [formGroup]="registerForm"
    (ngSubmit)="registerHandler()"
  >
    <fieldset>
      <h2>Registration Form</h2>

      <p class="field field-icon">
        <label for="username"
          ><span><i class="fas fa-user"></i></span
        ></label>
        <input
          [class.input-error]="errorValidator('username')"
          [class.valid]="
            registerForm.controls['username'].touched &&
            !errorValidator('username')
          "
          type="text"
          formControlName="username"
          id="username"
          placeholder="Johny"
        />
      </p>
      <ng-container *ngIf="errorValidator('username')">
        <p
          class="error"
          *ngIf="registerForm.controls['username'].errors?.['required']"
        >
          Username is required!
        </p>
        <p
          class="error"
          *ngIf="registerForm.controls['username'].errors?.['minlength']"
        >
          Username should be at least 5 characters!
        </p>
      </ng-container>

      <p class="field field-icon">
        <label for="email"
          ><span><i class="fas fa-envelope"></i></span
        ></label>
        <input
          [class.input-error]="errorValidator('email')"
          [class.valid]="
            registerForm.controls['email'].touched && !errorValidator('email')
          "
          type="email"
          formControlName="email"
          id="email"
          placeholder="john.doe@gmail.com"
        />
      </p>

      <ng-container *ngIf="errorValidator('email')">
        <p
          class="error"
          *ngIf="registerForm.controls['email'].errors?.['required']"
          class="error"
        >
          Email is required!
        </p>
        <p
          class="error"
          *ngIf="registerForm.controls['email'].errors?.['email']"
          class="error"
        >
          Email is not valid!
        </p>
      </ng-container>

      <p class="field field-icon">
        <label for="tel"
          ><span><i class="fas fa-phone"></i></span
        ></label>
        <select name="select-tel" id="select-tel" class="tel">
          <option value="00359">+359</option>
        </select>
        <input type="text" name="tel" id="tel" placeholder="885 888 888" />
      </p>

      <div [formGroup]="passwordGroup">
        <p class="field field-icon">
          <label for="password"
            ><span><i class="fas fa-lock"></i></span
          ></label>
          <input
            [class.input-error]="
              passwordGroup.controls['password'].touched &&
              passwordGroup.controls['password'].invalid
            "
            [class.valid]="
              passwordGroup.controls['password'].touched &&
              passwordGroup.controls['password'].valid
            "
            type="password"
            formControlName="password"
            id="password"
            placeholder="******"
          />
        </p>

        <ng-container
          *ngIf="
            passwordGroup.controls['password'].touched &&
            passwordGroup.controls['password'].invalid
          "
        >
          <p
            *ngIf="passwordGroup.controls['password'].errors?.['required']"
            class="error"
          >
            Password is required!
          </p>
          <p
            *ngIf="passwordGroup.controls['password'].errors?.['minlength']"
            class="error"
          >
            Password must be at least 4 characters!
          </p>
        </ng-container>

        <p class="field field-icon">
          <label for="rePassword"
            ><span><i class="fas fa-lock"></i></span
          ></label>
          <input
            [class.input-error]="
              passwordGroup.controls['rePassword'].touched &&
              passwordGroup.controls['rePassword'].invalid
            "
            [class.valid]="
              passwordGroup.controls['rePassword'].touched &&
              !passwordGroup.controls['rePassword'].errors?.['notMatch']
            "
            type="password"
            formControlName="rePassword"
            id="rePassword"
            placeholder="******"
          />
        </p>
        <p
          *ngIf="
            passwordGroup.controls['rePassword'].touched &&
            passwordGroup.controls['rePassword'].errors?.['notMatch']
          "
          class="error"
        >
          Repeat Password does not match password!
        </p>
      </div>

      <button [disabled]="registerForm.invalid">Create Account</button>

      <p class="text-center">
        Have an account?
        <a routerLink="/user/login">Log In</a>
      </p>
    </fieldset>
  </form>
</div>
