<app-home *ngIf="!(isLoggedIn$ | async)"></app-home>
<div *ngIf="theme" class="container">
  <div class="theme-content">
    <div class="theme-title">
      <div class="theme-name-wrapper">
        <div class="theme-name">
          <h2>{{ theme.themeName }}</h2>
          <p>
            Date: <time>{{ theme.created_at | date: "short" }}</time>
          </p>
        </div>
        <div class="subscribers">
          <p>
            Subscribers: <span>{{ theme.subscribers.length }}</span>
          </p>
          <!-- <button class="subscribe">Subscribe</button>
                    <button class="unsubscribe">Unsubscribe</button> -->
        </div>
      </div>
    </div>
    <!-- comment  -->
    <div *ngFor="let comment of comments" class="comment">
      <header class="header">
        <p>
          <span>{{ comment.userId.username }}</span> posted on
          <time>{{ comment.created_at | date: "short" }}</time>
        </p>
      </header>
      <div class="comment-main">
        <div class="userdetails">
          <img src="/assets/profile.png" alt="avatar" />
        </div>
        <div class="post-content">
          <p>
            {{ comment.text }}
          </p>
        </div>
      </div>
      <div class="footer">
        <div *ngIf="isLoggedIn$ | async">
          <i *ngIf="!canLike(comment.likes)" (click)="like(comment)" class="fas fa-thumbs-up"></i>
          <i *ngIf="canLike(comment.likes)" (click)="dislike(comment)" class="fas fa-thumbs-down"></i>
        </div>
        <p>
          <span>{{ comment.likes.length }}</span> likes
        </p>
      </div>
    </div>

    <div *ngIf="isLoggedIn$ | async" class="answer-comment">
      <p><span>currentUser</span> comment:</p>
      <div class="answer">
        <form>
          <textarea name="postText" id="comment" cols="30" rows="10"></textarea>
          <button>Post</button>
        </form>
      </div>
    </div>
  </div>
</div>
